.field {
  width: 50%;
  height: 50%;
  transition: background linear .3s;
  box-sizing: border-box;
  border: 10px solid #212121;
  cursor: pointer;
  &:active {
    box-shadow: inset 3px 3px 5px 5px rgba(0,0,0, .7);
  }
}

.top-left {
  background-color: #b71c1c;
  border-radius: 100% 0 0 0;
  border-top: 15px solid #212121;
  border-left: 15px solid #212121;
}

.top-right {
  background-color: #1565c0;
  border-radius: 0 100% 0 0;
  border-top: 15px solid #212121;
  border-right: 15px solid #212121;
}

.bot-left {
  background-color: #388e3c;
  border-radius: 0 0 0 100%;
  border-bottom: 15px solid #212121;
  border-left: 15px solid #212121;
}

.bot-right {
  background-color: #fbc02d;
  border-radius: 0 0 100% 0;
  border-bottom: 15px solid #212121;
  border-right: 15px solid #212121;
}

.highlighted {
  background-color: #fff;
}